{{#if concurso}}
    <h1>Concurso com id: "{{id}}" foi removido</h1>
{{else}}
    <div class="container-sm">
        <div class="alert alert-danger" role="alert">
            <h3>Erro na remoção do concurso com id: {{id}}</h3>
            {{#if error}}
                <pre>{{error}}</pre>
            {{/if}}
        </div>
    </div>

{{/if}}

<a href='/concurso/list'><button class="btn btn-primary btn-lg">Voltar a lista de usuários</button></a>
<br>
<a href='/'><button class="btn btn-secondary">Voltar a página inicial</button></a>
