{{#if concurso}}
    <h1>As alterações foram salvas para o concurso {{concurso}}</h1>
{{else}}
    <div class="container-sm">
        <div class="alert alert-danger" role="alert">
            <h3>Erro na edição do concurso</h3>
            {{#if error}}
                <pre>{{error}}</pre>
            {{/if}}
        </div>
    </div>

{{/if}}

{{#if usuario.eAdmin}}
<a href='/concurso/list'><button class="btn btn-primary btn-lg">Voltar a lista de concursos</button></a>
{{/if}}

<br>
<a href='/'><button class="btn btn-secondary">Voltar a página inicial</button></a>
