<!DOCTYPE html>
<html>  
    <head>
        <title>Sistema de Controle de Empresas</title>
    </head>
    <body>
        <center>
            <h1> Sistema de Controle de Empresas </h1>
            <br>
            {{{body}}}
        </center>
    </body>
</html>
