{{#if id}}
    <h1>Item com id: "{{id}}" foi removido</h1>
{{else}}
    
    <div class="container-sm">
        <div class="alert alert-danger" role="alert">
            <h3>Erro na remoção do item</h3>
            {{#if error}}
                <pre>{{error}}</pre>
            {{/if}}
        </div>
    </div>
{{/if}}

{{#if eAdmin}}
    <a href='/concurso/list'><button class="btn btn-primary btn-lg">Voltar a lista de concurso</button></a>
{{else}}
    <a href='/item/usuario/list'><button class="btn btn-primary btn-lg">Voltar a sua lista itens</button></a>
{{/if}}
<br>
<br>
<a href='/'><button class="btn btn-secondary">Voltar a página inicial</button></a>
