{{#if id}}
    <h1>Item com id: "{{id}}" foi removido</h1>
{{else}}
    <h1>Erro na remoção do item</h1>
    <p>{{error}}</p>
{{/if}}

<a href='/item/usuario/list'><button class="btn btn-primary btn-lg">Voltar a sua lista itens</button></a>
<br>
<br>
<a href='/'><button class="btn btn-secondary">Voltar a página inicial</button></a>
