{{#if usuario}}
{{#if item}}
<div class="col-md-4 col-md-offset-4">
    <form action="/item/edit" 
          method="post" 
          enctype="multipart/form-data">
        <input type="hidden" name="id" value="{{usuario.id}}">

        <div class="form-group">
            <label for="inome">Nome</label>
            <input type="text" 
                class="form-control" 
                id="inome" 
                name="nome" 
                value={{item.nome}}
        </div>

        <div class="form-group">
            <label for="iarquivo">Arquivo</label>
            <input type="file" class="form-control" id="iarquivo" name="arquivo">
        </div>

        <input id="isalvar" 
               class="btn btn-success" 
               type="submit" 
               value="Cadastrar">
    </form>
</div>
{{/if}} <!-- Item -->
{{else}}
    <h1>Acesso não autorizado</h1>
{{/if}} <!-- Usuário
