<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Página não encontrada</title>
</head>

<body>
    <p>
        <h1>Erro 404</h1>
    </p>
    <p>
        <h1>Página ou arquivo não encontrado</h1>
    </p>
    <br>
    <a href='/'><button class="btn btn-secondary">Voltar a página inicial</button></a>
</body>

</html>
