<div class="col-md-4 col-md-offset-4">
    <form action="/usuario/login" method="post">
        <div class="form-group">
            <label for="campoLogin">Login</label>
            <input type="text" 
                class="form-control" 
                id="iemail" 
                name="email"
                placeholder="Digite o seu e-mail...">
        </div>
        <div class="form-group">
            <label for="isenha">Senha</label>
            <input type="password" 
                class="form-control" 
                id="isenha" 
                name="senha"
                placeholder="Digite a sua senha...">
        </div>
        <button type="submit" class="btn btn-success">Logar</button>
    </form>
</div>
